<template>
  <div class="saiken-category-card__container">
    <hover-card>
      <full-image :url="image" slot="main"></full-image>
      <div slot="hover" class="saiken-category-card__content">
        <div class="title h-text">{{title}}</div>
        <div class="description p-text">{{description}}</div>
      </div>
    </hover-card>
  </div>
</template>

<script>
import Image from "@/components/Image";
import Card from "@/components/Card";
export default {
  name: "saiken-category-card",
  components: {
    ...Image,
    ...Card
  },
  props: {
    image: {
      type: String,
      required: true
    },
    title: {
      type: String
    },
    description: {
      type: String
    }
  }
};
</script>

<style lang="less" scoped>
.saiken-category-card__container {
  height: 100%;
  .saiken-category-card__content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: 100%;
    .title {
      font-size: 1.3em;
      font-weight: 900;
      margin-bottom: 20px;
    }
    .description {
      font-size: 0.9em;
    }
    @media (max-width: 576px) {
      & {
        padding: 20px;
      }
      .title {
        margin-bottom: 10px;
      }
    }
  }
}
</style>
