<template>
  <div class="saiken-grid__container" :style="gridStyleProps">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "saiken-grid-container",
  props: {
    columns: {
      type: Number,
      required: true,
      validator: value => value > 0
    },
    rows: {
      type: Number,
      required: true,
      validator: value => value >= 0
    },
    columnSize: {
      type: Number,
      default: 200
    },
    rowSize: {
      type: Number
    },
    autoFlow: {
      type: String,
      required: false,
      default: "row dense",
      validator: value =>
        ["row", "column", "row dense", "column dense"].indexOf(value) > -1
    },
    autoRow: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      containerWidth: 0
    };
  },
  mounted() {
    console.log([this.$el]);
    this.containerWidth = this.$el.clientWidth;
  },
  computed: {
    gridStyleProps() {
      let width = this.rowSize || Math.floor(this.containerWidth / this.columns);
      return {
        "grid-template-columns": `repeat(${this.columns}, calc(100% / ${
          this.columns
        }))`,
        "grid-template-rows": this.autoRow
          ? `calc(${width}px)`
          : `repeat(${this.rows}, calc(${width}px))`,
        "grid-auto-rows": this.autoRow ? `calc(${width}px)` : "unset",
        "grid-auto-flow": `${this.autoFlow}`
      };
    }
  }
};
</script>

<style lang="less">
.saiken-grid__container {
  display: grid;
}
</style>
