<template>
  <div class="saiken-grid-item__container" :style="gridItemStyle" v-view.once="onViewPortChange">
    <transition appear :name="animationInName">
      <slot v-if="enteredViewPort || forceDisplay"></slot>
    </transition>
  </div>
</template>

<script>
import transitionBus from "@/buses/transitionBus";
export default {
  name: "saiken-grid-item",
  props: {
    spanColumn: {
      type: Number,
      default: 1
    },
    spanRow: {
      type: Number,
      default: 1
    },
    animationInName: {
      type: String,
      default: function() {
        return this.$lodash.sample(
          ["bounceUp", "bounceLeft", "bounceRight", "bounceDown"],
          1
        );
      }
    },
    forceDisplay: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    transitionBus.$on("dismissGrid", () => {
      this.enteredViewPort = false;
    });
  },
  data() {
    return {
      enteredViewPort: false
    };
  },
  computed: {
    gridItemStyle() {
      return {
        "grid-column-end": `span ${this.spanColumn}`,
        "grid-row-end": `span ${this.spanRow}`
      };
    }
  },
  methods: {
    onViewPortChange() {
      this.enteredViewPort = true;
    }
  }
};
</script>

<style lang="less">
</style>
