<template>
  <transition appear :name="animationInName">
    <slot v-if="display"></slot>
  </transition>
</template>

<script>
import transitionBus from "@/buses/transitionBus";
export default {
  name: "saiken-base-transition",
  mounted() {
    this.display = this.show;
    transitionBus.$on("dismissBaseTransition", ({ id, target }) => {
      if (
        `${target}-${id}` === `${this.target}-${this.id}` ||
        target === "all"
      ) {
        this.display = false;
      }
    });
  },
  props: {
    animationInName: {
      type: String,
      default: function() {
        return this.$lodash.sample(
          ["bounceUp", "bounceLeft", "bounceRight", "bounceDown"],
          1
        );
      }
    },
    show: {
      type: Boolean
    },
    id: {
      type: Number,
      default: 0
    },
    target: {
      type: String,
      default: "base"
    }
  },
  data() {
    return {
      display: false
    };
  },
  watch: {
    show(newVal) {
      this.display = newVal;
    }
  }
};
</script>

<style>
</style>
