<template>
    <router-link :to="link || ''" tag="div" class="saiken-card__container" :class="hoverClass">
      <div v-for="(layer, index) in layers" :key="index" class="saiken-card__layer" :style="{'z-index': 1000 + index}">
        <slot :name="`layer${index}`"></slot>
      </div>
    </router-link>
</template>

<script>
export default {
  name: "saiken-card",
  props: {
    layers: {
      type: Number,
      default: 2
    },
    hover: {
      type: Boolean,
      default: true
    },
    link: {
      type: String
    }
  },
  computed: {
    hoverClass() {
      return {
        hoverable: this.hover,
        "cursor-pointer": this.link
      };
    }
  }
};
</script>

<style lang="less">
.saiken-card__container {
  position: relative;
  height: 100%;
  width: 100%;
  &.hoverable {
    transition: all 1s linear;
  }
  & > .saiken-card__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
</style>
