<template>
  <div class="saiken-hover-card__container">
    <slot name="main"></slot>
    <div class="hover-overlay"></div>
    <div class="hover">
      <slot name="hover"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "saiken-hover-card"
};
</script>

<style lang="less" scoped>
.saiken-hover-card__container {
  height: 100%;
  position: relative;

  .hover,
  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
    opacity: 0;
  }
  .hover {
    z-index: 2;
  }
  .hover-overlay {
    z-index: 1;
    background-color: #000;
  }
  &:hover {
    .hover {
      opacity: 1;
    }
    .hover-overlay {
      opacity: 0.5;
    }
  }
}
</style>
