<template>
  <div class="saiken-categories__container">
    <div class="row m-0">
      <div class="col-12">
        <div class="bread-crumb__container">
          <div class="h-text bread-crumb__title">Shop categories wide</div>
          <div class="bread-crumb__main p-text">
            <router-link :to="'/'" tag="span" class="cursor-pointer">Home / </router-link>
            <span class="link">Shop categories wide</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row equal m-0">
      <div class="col-12 col-sm-6 col-md-4 p-0 category__container" v-for="category in categories" :key="category.id">
        <router-link :to="`/categories/${category.id}`">
          <base-transition :show="displayCategories">
            <category-card :image="category.image" :title="category.name" :description="category.description"></category-card>
          </base-transition>
        </router-link>
      </div>
    </div>
  </div>

</template>

<script>
import Grid from "@/components/Grid";
import Transition from "@/components/Transition";
import CategoryCard from "./Categories/CategoryCard";
import transitionBus from "@/buses/transitionBus";

export default {
  name: "saiken-categories",
  components: {
    ...Grid,
    ...Transition,
    CategoryCard
  },
  data() {
    return {
      categories: [
        {
          id: 1,
          name: "Men's Featured Products",
          description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit qui explicabo porro vitae? Sapiente tenetur adipisci dignissimos ea natus, ullam quam et, praesentium, itaque rem neque repellendus sequi placeat voluptas.",
          image: "/static/images/banner/6.jpg"
        },
        {
          id: 2,
          name: "Men's Featured Products",
          description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit qui explicabo porro vitae? Sapiente tenetur adipisci dignissimos ea natus, ullam quam et, praesentium, itaque rem neque repellendus sequi placeat voluptas.",
          image: "/static/images/banner/7.jpg"
        },
        {
          id: 3,
          name: "Men's Featured Products",
          description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit qui explicabo porro vitae? Sapiente tenetur adipisci dignissimos ea natus, ullam quam et, praesentium, itaque rem neque repellendus sequi placeat voluptas.",
          image: "/static/images/banner/8.jpg"
        },
        {
          id: 4,
          name: "Men's Featured Products",
          description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit qui explicabo porro vitae? Sapiente tenetur adipisci dignissimos ea natus, ullam quam et, praesentium, itaque rem neque repellendus sequi placeat voluptas.",
          image: "/static/images/banner/1.jpg"
        },
        {
          id: 5,
          name: "Men's Featured Products",
          description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit qui explicabo porro vitae? Sapiente tenetur adipisci dignissimos ea natus, ullam quam et, praesentium, itaque rem neque repellendus sequi placeat voluptas.",
          image: "/static/images/banner/2.jpg"
        },
        {
          id: 6,
          name: "Men's Featured Products",
          description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit qui explicabo porro vitae? Sapiente tenetur adipisci dignissimos ea natus, ullam quam et, praesentium, itaque rem neque repellendus sequi placeat voluptas.",
          image: "/static/images/banner/3.jpg"
        },
        {
          id: 7,
          name: "Men's Featured Products",
          description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit qui explicabo porro vitae? Sapiente tenetur adipisci dignissimos ea natus, ullam quam et, praesentium, itaque rem neque repellendus sequi placeat voluptas.",
          image: "/static/images/banner/9.jpg"
        },
        {
          id: 8,
          name: "Men's Featured Products",
          description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit qui explicabo porro vitae? Sapiente tenetur adipisci dignissimos ea natus, ullam quam et, praesentium, itaque rem neque repellendus sequi placeat voluptas.",
          image: "/static/images/banner/10.jpg"
        },
        {
          id: 9,
          name: "Men's Featured Products",
          description:
            "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit qui explicabo porro vitae? Sapiente tenetur adipisci dignissimos ea natus, ullam quam et, praesentium, itaque rem neque repellendus sequi placeat voluptas.",
          image: "/static/images/banner/11.jpg"
        }
      ],
      displayCategories: false
    };
  },
  mounted() {
    this.displayCategories = true;
  },
  beforeRouteLeave(to, from, next) {
    transitionBus.$emit("dismissBaseTransition", {
      type: "out",
      target: "all"
    });
    setTimeout(() => {
      next();
    }, 1000);
  }
};
</script>

<style lang="less" scoped>
.saiken-categories__container {
  @md: var(--breakpoint-md);
  .bread-crumb__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    padding: 25px 30px;
    .bread-crumb__title {
      font-weight: 900;
      font-size: 1.1em;
    }
    .bread-crumb__main {
      font-size: 0.7em;
      .link {
        color: #b9933f;
      }
    }
  }
  .category__container {
    height: 300px;
  }
  @media (max-width: 576px) {
    .category__container {
      height: 200px;
    }
  }
}
</style>
