<template>
  <div class="saiken-about__container">
    Hire meee
  </div>
</template>
<script>
export default {
  name: "saiken-contact"
};
</script>
<style lang="less" scoped>
.saiken-about__container {
  height: 100%;
}
</style>
