<template>
  <div class="home">
    <grid-container :rows="3" :columns="6" :auto-flow="'row dense'">
      <grid-item :span-column="4" :span-row="3" animation-in-name="bounceLeft" :force-display="true">
        <feature-top-left></feature-top-left>
      </grid-item>
      <grid-item :span-column="2" :span-row="2" animation-in-name="bounceRight">
        <feature-top-upper-right></feature-top-upper-right>
      </grid-item>
      <grid-item :span-column="2" :span-row="1" animation-in-name="bounceUp">
        <feature-top-downer-right></feature-top-downer-right>
      </grid-item>
    </grid-container>

    <grid-container :rows="2" :columns="5">
      <grid-item :span-column="2" :span-row="2" animation-in-name="bounceLeft">
        <feature-top-second-left></feature-top-second-left>
      </grid-item>
      <grid-item :span-column="3" :span-row="2" animation-in-name="bounceRight">
        <feature-top-second-right></feature-top-second-right>
      </grid-item>
    </grid-container>
    
    <grid-container :rows="2" :columns="5">
      <grid-item :span-column="1" :span-row="2">
        <Card :link="'/categories'">
          <div slot="layer1" class="h-100">
            <div class="vertical-text-box d-flex justify-content-center align-items-center w-100 h-100">Shop by Categories</div>
          </div>
        </Card>
      </grid-item>
      <grid-item :span-column="1" :span-row="1">
        <product-card :url="'/static/images/banner/56.jpg'" :title="'Shoes Collection'" :sub-title="'Laces, rubber sole'" :title-color="'#000'" :sub-title-color="'#888'" :position="'top'"></product-card>
      </grid-item>
      <grid-item :span-column="2" :span-row="1">
        <product-card url="/static/images/banner/57.jpg" title="Blacksmith Collection" sub-title="20 items available" position="top"></product-card>
      </grid-item>
      <grid-item :span-column="1" :span-row="1">
        <product-card url="/static/images/banner/58.jpg" title="Suit Collection" sub-title="Buckle and loop, leather detail" title-color="#fff" sub-title-color="#ddd" position="center" :overlay="true"></product-card>
      </grid-item>
      <grid-item :span-column="1" :span-row="1">
        <product-card url="/static/images/banner/59.jpg" title="Mens Accessories" sub-title="Sale 20% for students" position="center"></product-card>
      </grid-item>
      <grid-item :span-column="1" :span-row="1">
        <product-card url="/static/images/banner/60.jpg" title="Casual Collection" sub-title="Cotton fabric" position="bottom"></product-card>
      </grid-item>
      <grid-item :span-column="2" :span-row="1">
        <product-card url="/static/images/banner/61.jpg" title="This is Tailoring 2016" sub-title="Runway collections" title-color="#fff" sub-title-color="#ddd" position="center-left"></product-card>
      </grid-item>
    </grid-container>

    <grid-container :rows="3" :columns="5">
      <grid-item :span-column="1" :span-row="1">
        <product-card url="/static/images/banner/62.jpg"></product-card>
      </grid-item>
      <grid-item :span-column="2" :span-row="2">
        <product-card url="/static/images/banner/61.jpg" title="Featured products" sub-title="Lorem ipsum dolor sit amet, consectetur adipiseing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiseing elit, sed do eiusmod tempo" title-color="#fff" sub-title-color="#fff" position="top" :overlay-color="'#b9933f'" :opacity="1" :overlay="true" padding="25%" button-text="View more" text-align="left" :cursor-pointer="false"></product-card>
      </grid-item>
      <grid-item :span-column="1" :span-row="1">
        <product-card url="/static/images/banner/63.jpg"></product-card>
      </grid-item>
      <grid-item :span-column="1" :span-row="1">
        <product-card url="/static/images/banner/64.jpg"></product-card>
      </grid-item>
      <grid-item :span-column="1" :span-row="1">
        <product-card url="/static/images/banner/65.jpg"></product-card>
      </grid-item>
      <grid-item :span-column="1" :span-row="2">
        <product-card url="/static/images/banner/66.jpg"></product-card>
      </grid-item>
      <grid-item :span-column="1" :span-row="2">
        <product-card url="/static/images/banner/67.jpg"></product-card>
      </grid-item>
      <grid-item :span-column="2" :span-row="1">
        <product-card url="/static/images/banner/68.jpg"></product-card>
      </grid-item>
      <grid-item :span-column="1" :span-row="1">
        <product-card url="/static/images/banner/69.jpg"></product-card>
      </grid-item>
    </grid-container>

    <grid-container :rows="2" :columns="5">
      <grid-item :span-column="2" :span-row="2">
        <news-letter></news-letter>
      </grid-item>
      <grid-item :span-column="1" :span-row="1" animation-in-name="bounceDown">
        <product-card url="/static/images/banner/6.jpg" :overlay="true" :overlay-color="'#b9933f'" :opacity="0.5"></product-card>
      </grid-item>
      <grid-item :span-column="2" :span-row="2" animation-in-name="bounceRight">
        <blog-preview></blog-preview>
      </grid-item>
      <grid-item :span-column="1" :span-row="1" animation-in-name="bounceUp">
        <product-card url="/static/images/blog/1.jpg"></product-card>
      </grid-item>
    </grid-container>
  </div>
</template>

<script>
import Grid from "@/components/Grid";
import Image from "@/components/Image";
import Card from "@/components/Card";
import FeatureTopLeft from "./Home/FeatureTopLeft";
import FeatureTopUpperRight from "./Home/FeatureTopUpperRight";
import FeatureTopDownerRight from "./Home/FeatureTopDownerRight";
import FeatureTopSecondLeft from "./Home/FeatureTopSecondLeft";
import FeatureTopSecondRight from "./Home/FeatureTopSecondRight";
import ProductCard from "./Home/ProductCard";
import NewsLetter from "./Home/NewsLetter";
import BlogPreview from "./Home/BlogPreview";
import transitionBus from "@/buses/transitionBus";

export default {
  name: "home",
  components: {
    ...Grid,
    ...Image,
    ...Card,
    FeatureTopLeft,
    FeatureTopUpperRight,
    FeatureTopDownerRight,
    FeatureTopSecondLeft,
    FeatureTopSecondRight,
    ProductCard,
    NewsLetter,
    BlogPreview
  },
  data() {
    return {
      topLeftShow: false,
      topRightShow: false
    };
  },
  mounted() {
    this.topLeftShow = true;
    this.topRightShow = true;
  },
  beforeRouteLeave(to, from, next) {
    transitionBus.$emit("dismissGrid", { type: "out", target: "all" });
    setTimeout(() => {
      next();
    }, 1000);
  }
};
</script>
<style lang="less" scoped>
.vertical-text-box {
  transform: rotate(180deg);
  color: #000;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  font-size: 2.5vw;
  font-weight: bold;
}
</style>
