<template>
  <div class="saiken-product-list__container">
    <div class="row m-0 h-100">
      <div class="filters__container col-12 col-md-3 p-0">
        Search
      </div>
      <div class="product-list__container col-12 col-md-9 p-0">
        <grid-container :columns="6" :rows="0" :auto-row="true">
          <grid-item :span-row="gridSize[index].row" :span-column="gridSize[index].col" v-for="(product, index) in products" :key="product.id" :force-display="true">
            <product-card :product="product"></product-card>
          </grid-item>
        </grid-container>
      </div>
    </div>
  </div>
</template>

<script>
import Grid from "@/components/Grid";
import ProductCard from "./Product/ProductCard";
export default {
  name: "saiken-product-list",
  components: {
    ...Grid,
    ProductCard
  },
  data() {
    return {
      products: [
        {
          id: "5b4ac37080d3e7235e4bba77",
          old_price: "$1,542.40",
          new_price: "$1,590.65",
          image: "/static/images/products/clothing/33.jpg",
          name: "Lorem in id occaecat",
          categories: [
            "amet id",
            "dolore exercitation",
            "laborum ullamco",
            "minim do",
            "enim aute",
            "mollit magna",
            "esse eu"
          ],
          category: "dolore exercitation"
        },
        {
          id: "5b4ac37001aa494673ff5faa",
          old_price: "$2,148.12",
          new_price: "$3,189.23",
          image: "/static/images/products/clothing/5.jpg",
          name: "anim proident veniam enim",
          categories: [
            "eiusmod veniam",
            "exercitation cillum",
            "quis in",
            "deserunt ipsum",
            "qui elit",
            "tempor velit",
            "tempor non"
          ],
          category: "quis in"
        },
        {
          id: "5b4ac370588e7fb77ea91c7d",
          old_price: "$3,905.68",
          new_price: "$3,590.70",
          image: "/static/images/products/clothing/10.jpg",
          name: "voluptate aliquip commodo deserunt",
          categories: [
            "do duis",
            "proident in",
            "excepteur mollit",
            "ipsum tempor",
            "anim occaecat",
            "ipsum dolor",
            "est ea"
          ],
          category: "do duis"
        },
        {
          id: "5b4ac370a93b057a5e679f48",
          old_price: "$2,239.96",
          new_price: "$1,109.99",
          image: "/static/images/products/clothing/10.jpg",
          name: "do eiusmod do et",
          categories: [
            "ex veniam",
            "cillum aliqua",
            "veniam ipsum",
            "ex amet",
            "consequat nisi",
            "qui proident",
            "officia veniam"
          ],
          category: "cillum aliqua"
        },
        {
          id: "5b4ac370a3a27cc33df0c512",
          old_price: "$2,858.34",
          new_price: "$2,141.42",
          image: "/static/images/products/clothing/20.jpg",
          name: "labore minim enim eu",
          categories: [
            "culpa do",
            "cillum irure",
            "dolore consectetur",
            "excepteur aliqua",
            "dolore eiusmod",
            "ad exercitation",
            "ex officia"
          ],
          category: "dolore consectetur"
        },
        {
          id: "5b4ac370f9473833ea22489d",
          old_price: "$1,636.37",
          new_price: "$1,239.12",
          image: "/static/images/products/clothing/8.jpg",
          name: "aliqua adipisicing voluptate incididunt",
          categories: [
            "ad non",
            "minim consectetur",
            "amet mollit",
            "irure consequat",
            "sunt anim",
            "exercitation laboris",
            "ipsum voluptate"
          ],
          category: "minim consectetur"
        },
        {
          id: "5b4ac37073af1cd3462cb1e7",
          old_price: "$1,336.40",
          new_price: "$1,913.31",
          image: "/static/images/products/clothing/15.jpg",
          name: "laborum ea proident nisi",
          categories: [
            "commodo pariatur",
            "reprehenderit culpa",
            "et voluptate",
            "proident nisi",
            "quis et",
            "non excepteur",
            "esse sint"
          ],
          category: "et voluptate"
        },
        {
          id: "5b4ac37006e5e30e2889b8fb",
          old_price: "$1,109.17",
          new_price: "$1,527.41",
          image: "/static/images/products/clothing/11.jpg",
          name: "deserunt ex eiusmod enim",
          categories: [
            "in consequat",
            "amet esse",
            "eu enim",
            "excepteur aute",
            "sunt ullamco",
            "aute qui",
            "labore incididunt"
          ],
          category: "eu enim"
        },
        {
          id: "5b4ac3704c2a04e53d947f05",
          old_price: "$3,180.74",
          new_price: "$1,957.02",
          image: "/static/images/products/clothing/35.jpg",
          name: "est velit occaecat tempor",
          categories: [
            "pariatur sint",
            "enim exercitation",
            "incididunt do",
            "cillum deserunt",
            "adipisicing consequat",
            "ullamco ipsum",
            "amet exercitation"
          ],
          category: "incididunt do"
        },
        {
          id: "5b4ac3700977b7610099aec5",
          old_price: "$2,229.23",
          new_price: "$2,329.71",
          image: "/static/images/products/clothing/38.jpg",
          name: "id nostrud ea et",
          categories: [
            "cupidatat nisi",
            "sunt pariatur",
            "aute duis",
            "mollit tempor",
            "ullamco anim",
            "cillum esse",
            "culpa sint"
          ],
          category: "aute duis"
        },
        {
          id: "5b4ac37041a1b8394309be39",
          old_price: "$1,650.26",
          new_price: "$3,859.38",
          image: "/static/images/products/clothing/1.jpg",
          name: "labore veniam ex mollit",
          categories: [
            "in ex",
            "cupidatat ipsum",
            "deserunt occaecat",
            "ipsum aliquip",
            "exercitation cillum",
            "quis velit",
            "consequat dolor"
          ],
          category: "deserunt occaecat"
        },
        {
          id: "5b4ac3703ac8a61cff1ead8a",
          old_price: "$2,587.43",
          new_price: "$2,942.34",
          image: "/static/images/products/clothing/15.jpg",
          name: "commodo ullamco reprehenderit tempor",
          categories: [
            "in nisi",
            "nulla consequat",
            "occaecat reprehenderit",
            "consequat ea",
            "magna et",
            "enim anim",
            "quis aliqua"
          ],
          category: "occaecat reprehenderit"
        },
        {
          id: "5b4ac37056fa9eefbb16ad3e",
          old_price: "$1,005.78",
          new_price: "$2,450.62",
          image: "/static/images/products/clothing/3.jpg",
          name: "aliqua et fugiat irure",
          categories: [
            "ipsum ea",
            "qui enim",
            "tempor adipisicing",
            "ipsum aliquip",
            "mollit dolore",
            "sunt ea",
            "consectetur mollit"
          ],
          category: "ipsum ea"
        },
        {
          id: "5b4ac3705c8869f98c6312ae",
          old_price: "$1,470.90",
          new_price: "$1,797.26",
          image: "/static/images/products/clothing/24.jpg",
          name: "veniam id ad officia",
          categories: [
            "quis fugiat",
            "veniam occaecat",
            "tempor eu",
            "voluptate duis",
            "commodo do",
            "nisi laboris",
            "laboris velit"
          ],
          category: "tempor eu"
        },
        {
          id: "5b4ac37022284324fd4dca91",
          old_price: "$2,137.85",
          new_price: "$1,117.21",
          image: "/static/images/products/clothing/41.jpg",
          name: "deserunt incididunt voluptate eu",
          categories: [
            "laborum quis",
            "dolore velit",
            "ex Lorem",
            "in elit",
            "enim reprehenderit",
            "elit veniam",
            "magna esse"
          ],
          category: "laborum quis"
        },
        {
          id: "5b4ac370e2346f3820a4ff75",
          old_price: "$3,217.53",
          new_price: "$3,202.45",
          image: "/static/images/products/clothing/23.jpg",
          name: "Lorem excepteur ut ad",
          categories: [
            "magna eiusmod",
            "ex velit",
            "culpa exercitation",
            "excepteur esse",
            "id amet",
            "consectetur exercitation",
            "sit eu"
          ],
          category: "magna eiusmod"
        },
        {
          id: "5b4ac3700d325906e3da4266",
          old_price: "$1,763.69",
          new_price: "$2,824.74",
          image: "/static/images/products/clothing/17.jpg",
          name: "aliquip sunt nulla aute",
          categories: [
            "nisi laboris",
            "Lorem eiusmod",
            "labore dolore",
            "esse amet",
            "tempor incididunt",
            "sint dolore",
            "eiusmod do"
          ],
          category: "labore dolore"
        },
        {
          id: "5b4ac370d37ce7a7f24c47d7",
          old_price: "$2,331.97",
          new_price: "$3,949.67",
          image: "/static/images/products/clothing/36.jpg",
          name: "eu deserunt tempor quis",
          categories: [
            "cupidatat esse",
            "amet nisi",
            "cillum labore",
            "esse eu",
            "est magna",
            "culpa aliqua",
            "anim magna"
          ],
          category: "amet nisi"
        },
        {
          id: "5b4ac37060bca7329d892d6e",
          old_price: "$1,764.40",
          new_price: "$2,704.82",
          image: "/static/images/products/clothing/33.jpg",
          name: "occaecat voluptate minim ea",
          categories: [
            "nisi deserunt",
            "fugiat irure",
            "tempor proident",
            "Lorem aliqua",
            "aliqua amet",
            "commodo nostrud",
            "proident proident"
          ],
          category: "nisi deserunt"
        },
        {
          id: "5b4ac370ab28e00163f65a26",
          old_price: "$1,739.77",
          new_price: "$3,577.49",
          image: "/static/images/products/clothing/37.jpg",
          name: "ex occaecat exercitation sunt",
          categories: [
            "duis Lorem",
            "amet esse",
            "aliquip quis",
            "pariatur sit",
            "nulla velit",
            "deserunt duis",
            "ut nostrud"
          ],
          category: "amet esse"
        }
      ],
      displayCategories: false
    };
  },
  computed: {
    gridSize() {
      return this.products.map(() => {
        const row = this.$lodash.random(1, 2);
        const col = row === 2 ? 2 : this.$lodash.random(1, 2);
        return {
          col,
          row
        };
      });
    }
  },
  methods: {
    gridCol() {
      return this.$lodash.random(1, 2);
    },
    gridRow() {
      return this.$lodash.random(1, 1);
    }
  }
};
</script>

<style lang="less" scoped>
.saiken-product-list__container {
  height: 100%;
  overflow-x: hidden;
  .product-list__container {
    height: 100%;
    overflow-y: auto;
  }
}
</style>
