<template>
  <hover-card>
    <full-image :url="product.image" slot="main"></full-image>
      <div class="image-detail__container" slot="hover">
        <div class="image-detail__title h-text">
          {{product.name}}
        </div>
        <div class="image-detail__category p-text">
          {{product.category}}
        </div>
        <div class="image-detail__price p-text">
          <span class="price--old mr-1">{{product.old_price}}</span><span class="price--new">{{product.new_price}}</span>
        </div>
        <div class="image-detail__button-container">
          <span class="image-detail__button p-text">View detail</span>
        </div>
      </div>
  </hover-card>
</template>

<script>
import Card from "@/components/Card";
import Image from "@/components/Image";
export default {
  name: "saiken-product-card",
  components: {
    ...Card,
    ...Image
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="less" scoped>
.image-detail__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: #fff;
  .image-detail__title {
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
  }
  .image-detail__category {
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 5px 0;
  }
  .image-detail__price {
    margin: 5px 0;
    font-size: 0.9em;
    .price--old {
      text-decoration: line-through;
    }
    .price--new {
      border-bottom: 1px solid #fff;
      padding: 0 2px;
    }
  }
  .image-detail__button-container {
    margin-top: 10px;
    .image-detail__button {
      display: inline-block;
      padding: 6px 12px;
      background-color: #b9933f;
      font-size: 0.8em;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
</style>
