<template>
  <div class="saiken-time-unit__container justify-content-end d-flex">
    <div class="d-inline-block p-text time-number align-self-start">
      <transition name="list">
        <span class="number" v-if="loaded">{{number | numeralFormat('00')}}</span>
      </transition>
      </div>
    <div class="d-inline-block p-text slash align-self-baseline">/</div>
    <div class="d-inline-block p-text time-unit align-self-end">{{unit}}</div>
  </div>
</template>

<script>
export default {
  name: "saiken-time-unit",
  props: {
    number: {
      type: Number,
      required: true
    },
    unit: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      loaded: true
    };
  },
  watch: {
    number: function() {
      this.loaded = false;
      setTimeout(() => {
        this.loaded = true;
      }, 50);
    }
  }
};
</script>

<style lang="less" scoped>
@gray: #aaaaaa;
.saiken-time-unit__container {
  .time-number {
    font-weight: bold;
    font-size: 2vw;
    line-height: 2vw;
    padding-right: 3px;
    .number {
      display: inline-block;
    }
  }
  .slash {
    font-size: 2vw;
    color: @gray;
  }
  .time-unit {
    color: @gray;
    text-transform: uppercase;
    font-size: 0.8vw;
  }
  .list-enter-active,
  .list-leave-active {
    transition: all 0.5s;
  }
  .list-enter {
    opacity: 0;
    transform: translateY(-30px);
  }
}
</style>
