<template>
  <div class="saiken-time-countdown__container d-flex w-100">
    <time-unit :number="durationDays" :unit="'Days'"></time-unit>
    <time-unit :number="durationHours" :unit="'Hrs'"></time-unit>
    <time-unit :number="durationMinutes" :unit="'Mins'"></time-unit>
    <time-unit :number="durationSeconds" :unit="'Secs'"></time-unit>
  </div>
</template>

<script>
import TimeUnit from "./TimeUnit";
import moment from "moment";
export default {
  name: "saiken-time-countdown",
  props: {
    dest: {
      type: Date,
      required: true
    },
    interval: {
      type: Number,
      default: 1000
    }
  },
  components: {
    TimeUnit
  },
  created() {
    this.timeInterval();
  },
  data() {
    return {
      currentTime: new Date(),
      duration: moment()
    };
  },
  computed: {
    durationDays: function() {
      if (this.duration.asDays) {
        return parseInt(this.duration.asDays());
      }
      return this.duration.days();
    },
    durationHours: function() {
      return this.duration.hours();
    },
    durationSeconds: function() {
      return this.duration.seconds();
    },
    durationMinutes: function() {
      return this.duration.minutes();
    }
  },
  methods: {
    timeInterval() {
      setTimeout(() => {
        this.computeDuration();
        this.timeInterval();
      }, this.interval);
    },
    computeDuration() {
      this.currentTime = moment().format("X");
      let diffTime = moment(this.dest).format("X") - this.currentTime;
      let duration = moment.duration(diffTime, "seconds");
      this.duration = duration;
    }
  }
};
</script>

<style lang="less" scoped>
.saiken-time-countdown__container {
  & > div {
    flex: 1;
  }
}
</style>
