<template>
    <div class="saiken-blog-preview__container">
      <div class="bread-crumb p-text">
        <span>Feburuary 12, 2016 / in </span><a href="" class="link">Fashion, music</a><span> / By </span><a href="" class="link">Admin</a>
      </div>
      <div class="title h-text">
        Why you should choose Vesmag
      </div>
      <div class="description h-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio in libero ad beatae dolore eligendi rem, saepe dolor aperiam consequatur quaerat animi fuga rerum quod atque adipisci alias error nam?
      </div>
      <div class="content__container">
        <div class="content p-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In cum quas voluptatibus. Nobis vel deserunt, sed architecto quibusdam reprehenderit rem inventore doloremque vero eaque, officia sequi quasi fugiat consequuntur possimus!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, dignissimos voluptas sapiente perspiciatis laborum minima? Non ea, cum veniam, alias quibusdam obcaecati aut deleniti velit incidunt molestias nam perspiciatis corrupti!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, dignissimos voluptas sapiente perspiciatis laborum minima? Non ea, cum veniam, alias quibusdam obcaecati aut deleniti velit incidunt molestias nam perspiciatis corrupti!
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, dignissimos voluptas sapiente perspiciatis laborum minima? Non ea, cum veniam, alias quibusdam obcaecati aut deleniti velit incidunt molestias nam perspiciatis corrupti!
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, dignissimos voluptas sapiente perspiciatis laborum minima? Non ea, cum veniam, alias quibusdam obcaecati aut deleniti velit incidunt molestias nam perspiciatis corrupti!
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "saiken-blog-preview"
};
</script>

<style lang="less" scoped>
@link-text: #b9933f;
.saiken-blog-preview__container {
  text-align: left;
  padding: 20px 10%;
  .bread-crumb {
    font-size: 0.8vw;
    text-transform: uppercase;
    .link {
      color: @link-text;
    }
  }
  .title {
    font-weight: 900;
    margin: 20px 0;
    font-size: 2.5vw;
    line-height: 3vw;
  }
  .description {
    font-size: 0.9vw;
    font-weight: bold;
  }

  .content__container {
    padding-left: 10%;
    margin-top: 15px;
    .content {
      font-size: 0.8vw;
    }
  }
}
</style>
