<template>
<Card class="saiken-feature-top-second-right__container">
  <full-image url="/static/images/banner/55.jpg" :overlay="true" :opacity="0.4" overlay-color="#000" slot="layer0"></full-image>
  <div slot="layer1" class="saiken-feature-top-second-right__content p-text">
    <base-slider :items="items">
      
    </base-slider>
  </div>
</Card>
</template>

<script>
import Card from "@/components/Card";
import FullImage from "@/components/Image";
import Slider from "@/components/Slider";
export default {
  name: "saiken-feature-top-second-right",
  components: {
    ...Card,
    ...FullImage,
    ...Slider
  },
  data() {
    return {
      items: [
        {
          name: "Cool Shirt",
          category: "Work",
          image: "/static/images/banner/59.jpg",
          old_price: "$175",
          new_price: "$110"
        },
        {
          name: "Lace-up Sneakers",
          category: "Beachwear",
          image: "/static/images/banner/60.jpg",
          old_price: "$1232",
          new_price: "$1100"
        },
        {
          name: "What ?",
          category: "Beachwear",
          image: "/static/images/banner/58.jpg",
          old_price: "$75",
          new_price: "$60"
        },
        {
          name: "Another Cool Shirt",
          category: "Beachwear",
          image: "/static/images/banner/56.jpg",
          old_price: "$15",
          new_price: "$10"
        }
      ]
    };
  }
};
</script>

<style lang="less">
.saiken-feature-top-second-right__container {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: relative;
  .saiken-feature-top-second-right__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
</style>
