<template>
<Card class="saiken-feature-top-second-left__container">
  <div slot="layer1" class="saiken-feature-top-second-left__content p-text d-flex flex-column justify-content-center h-100 text-left">
    <div class="text-uppercase text--sm text--gray">Daily Deals</div>
    <div class="h-text text--lg mt-1 my-3">
      Love uo<br>
      Valentine's<br>
      Day event
    </div>
    <div class="h-text text--sm text--gray">
      Lorem ipsum dolor sit amet,<br>
      conseetetur adipiseing elit, sed<br>
      do eiusmod tempor
    </div>
    <div class="my-4">
      <time-count-down :dest="eventDate"></time-count-down>
    </div>
    <div>
      <span class="saiken-feature-top-second-left__button">
        View more
      </span>
    </div>
    
  </div>
</Card>
</template>

<script>
import Card from "@/components/Card";
import Time from "@/components/Time";
export default {
  name: "saiken-feature-top-second-left",
  components: {
    ...Card,
    ...Time
  },
  data () {
    return {
      eventDate: new Date("14 Jul 2018 14:00:00 GMT+7")
    };
  }
};
</script>

<style lang="less" scoped>
@gray: #aaaaaa;

.saiken-feature-top-second-left__container {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  .saiken-feature-top-second-left__content {
    padding-left: 25%;
    padding-right: 25px;
    .text--sm {
      font-size: 1vw;
      line-height: 1.2vw;
    }
    .text--lg {
      font-size: 3vw;
      font-weight: bold;
      line-height: 2.8vw;
    }
    .text--gray {
      color: @gray;
    }
    .text--normal {
      font-weight: normal;
    }
  }
  .saiken-feature-top-second-left__button {
    background-color: #333333;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 0.8vw;
    &:hover {
      cursor: pointer;
    }
  }
}
</style>
