<template>
  <Card class="saiken-feature-top-upper-right__container" @mouseover="mouseOver = true" @mouseout="mouseOver = false">
    <full-image url="/static/images/banner/53.jpg" slot="layer0" :mouse-over="mouseOver"></full-image>
    <div slot="layer1" class="saiken-feature-top-upper-right__text-container p-text d-flex flex-column justify-content-end">
      <div class="text--xl text-center h-text">New trend</div>
      <div class="p-text text--sm text-center description-text">
        <p>Jackets don't come much more British than the tweed blazer. Update heritage styles with slim fits and shawl lapels, or switch things up... </p>
      </div>
      <div class="text--xs text-right">
        fotograp: jesse laitinen tylist: peter lundgren
      </div>
    </div>
  </Card>
</template>

<script>
import Card from "@/components/Card";
import FullImage from "@/components/Image";
export default {
  name: "saiken-feature-top-upper-right",
  components: {
    ...Card,
    ...FullImage
  },
  data() {
    return {
      mouseOver: false
    };
  }
};
</script>

<style lang="less" scope>
.saiken-feature-top-upper-right__container {
  .saiken-feature-top-upper-right__text-container {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    height: 55%;
    width: 100%;
    text-align: left;
    padding: 30px 10% 50px 10%;

    .text--xs {
      font-size: 0.7vw;
    }
    .text--sm {
      font-size: 0.9vw;
      line-height: 0.9vw;
    }
    .text--xl {
      font-size: 4vw;
      font-weight: 900;
    }
    .bottom-left-description {
      position: absolute;
      bottom: 40px;
      left: 75px;
      width: 150px;
    }
    .description-text {
      width: 80%;
      margin: 0 auto;
      text-transform: uppercase;
    }
  }
}
</style>
