<template>
  <Card class="saiken-feature-top-left__container">
    <full-image url="/static/images/banner/9.jpg" slot="layer0"></full-image>
    <div slot="layer1" class="saiken-feature-top-left__text-container p-text d-flex flex-column justify-content-end">
      <div class="overlay"></div>
      <div class="text--sm text-uppercase">Stylist: Eilidh Greig</div>
      <div class="text--sm text-uppercase">Photographer: Richard Stow</div>
      <div class="text--xl text-justify h-text">Different</div>
      <div class="d-flex justify-content-between mt-2 align-items-end">
        <div class="bottom-left-description">
          <div class="text--sm text-left">Channel some 'New Wave' dapter-meets-casual style, as favored by the more androgynous end of the Britpop spectrum</div>
        </div>
        <div class="text--xl text-right h-text">class</div>
      </div>
    </div>
  </Card>
</template>

<script>
import Card from "@/components/Card";
import FullImage from "@/components/Image";
export default {
  name: "saiken-feature-top-left",
  components: {
    ...Card,
    ...FullImage
  }
};
</script>

<style lang="less" scope>
.saiken-feature-top-left__container {
  .saiken-feature-top-left__text-container {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    text-align: left;
    padding: 0 10% 50px 10%;
    .text--sm {
      font-size: 0.8vw;
    }
    .text--xl {
      font-size: 11vw;
      line-height: 9vw;
      font-weight: 900;
    }
    .bottom-left-description {
      width: 25%;
      font-size: 1.2vw;
    }
    @media (max-width: 991.98px) {
      padding: 0 10% 20px 10%;
      .text--sm {
        font-size: 1.4vw;
      }
      .bottom-left-description {
        width: 50%;
        font-size: 1.2vw;
      }
    }
  }
}

</style>
