<template>
  <Card class="saiken-feature-top-downer-right__container">
    <full-image url="/static/images/banner/54.jpg" slot="layer0"></full-image>
    <div slot="layer1" class="saiken-feature-top-downer-right__text-container p-text d-flex flex-column justify-content-center">
      <div class="p-text text-uppercase text--sm mt-3">Accessories</div>
      <div class="h-text text--l mt-1 mb-3">
        Sale 20% off<br> for students
      </div>
      <div class="button-blend">
        Shop now
      </div>
    </div>
  </Card>
</template>

<script>
import Card from "@/components/Card";
import FullImage from "@/components/Image";
export default {
  name: "saiken-feature-top-downer-right",
  components: {
    ...Card,
    ...FullImage
  }
};
</script>

<style lang="less" scope>
.saiken-feature-top-downer-right__container {
  .saiken-feature-top-downer-right__text-container {
    position: absolute;
    left: 50%;
    top: 0;
    color: #fff;
    height: 100%;
    text-align: left;

    .text--xs {
      font-size: 0.5em;
    }
    .text--sm {
      font-size: 0.6em;
    }
    .text--l {
      // font-size: 1.4em;
      font-size: 1.4vw;
      font-weight: 900;
      line-height: 1.6vw;
    }
    .button-blend {
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff;
      display: inline-block;
      padding: 6px 12px;
      font-size: 0.6em;
      transition: all 0.2s linear;
      text-align: center;
      &:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
      }
    }
  }
}
</style>
