<template>
    <div class="saiken-newsletter__container">
      <Card>
        <full-image :overlay="true" :opacity="1" :overlay-color="'#000'" slot="layer0"></full-image>
        <div class="saiken-newsletter__content" slot="layer1">
          <div class="p-text sub-title">
            Newsletter
          </div>
          <div class="h-text title">
            Stay update with<br>
            Latest news and<br>
            Discounts
          </div>
          <div class="email-input__container p-text">
            <input class="email-input" type="email" name="email" placeholder="Enter your e-mail">
          </div>
          <div class="subscribe-btn__container">
            <button class="subscribe-btn p-text">Subscribe</button>
          </div>
        </div>
      </Card>
    </div>
</template>

<script>
import Card from "@/components/Card";
import Image from "@/components/Image";
export default {
  name: "saiken-newsletter",
  components: {
    ...Card,
    ...Image
  }
};
</script>

<style lang="less" scoped>
.saiken-newsletter__container {
  height: 100%;
  .saiken-newsletter__content {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 25%;
    .title {
      font-size: 2vw;
      line-height: 2vw;
      margin: 10px 0;
      font-weight: bold;
    }
    .sub-title {
      font-size: 1vw;
    }
    .email-input__container {
      margin: 10px 0;
      .email-input {
        border: 0;
        background-color: #000;
        color: #fff;
        transition: all 0.5s linear;
        border-bottom: 1px solid #333;
        padding-bottom: 10px;
        font-size: 1vw;
        width: 100%;
        &:focus {
          outline: none;
          border-color: #fff;
        }
        &::placeholder {
          color: #888;
        }
      }
    }
    .subscribe-btn__container {
      margin-top: 20px;
      .subscribe-btn {
        font-size: 1vw;
        background-color: #333;
        border: 0;
        border-radius: 4px;
        padding: 10px 20px;
        color: #fff;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
</style>
