<template>
  <div class="saiken-product-card__container" :class="containerClass">
    <Card>
      <full-image :url="url" slot="layer0" :overlay="overlay" :overlay-color="overlayColor" :opacity="opacity"></full-image>
      <div slot="layer1" class="saiken-product-card__content" :class="{[position]: true}" :style="contentStyle">
        <div class="h-text title" :style="titleStyle">{{title}}</div>
        <div class="p-text subtitle" :style="subTitleStyle">{{subTitle}}</div>
        <div class="button__container" v-if="buttonText">
          <span class="button p-text cursor-pointer">{{buttonText}}</span>
        </div>
      </div>
    </Card>
  </div>
</template>

<script>
import Card from "@/components/Card";
import Image from "@/components/Image";
export default {
  name: "saiken-product-card",
  props: {
    url: {
      type: String
    },
    title: {
      type: String
    },
    subTitle: {
      type: String
    },
    titleColor: {
      type: String,
      default: "#000"
    },
    subTitleColor: {
      type: String,
      default: "#888"
    },
    position: {
      type: String,
      validator: value =>
        [
          "top",
          "bottom",
          "center",
          "top-left",
          "top-right",
          "bottom-left",
          "bottom-right",
          "center-left",
          "center-right"
        ].indexOf(value) > -1
    },
    overlay: {
      type: Boolean,
      default: false
    },
    overlayColor: {
      type: String,
      default: "#000"
    },
    opacity: {
      type: Number,
      default: 0.5
    },
    padding: {
      type: String,
      default: "15px"
    },
    buttonText: {
      type: String
    },
    textAlign: {
      type: String
    },
    cursorPointer: {
      type: Boolean,
      default: true
    }
  },
  components: {
    ...Card,
    ...Image
  },
  computed: {
    titleStyle() {
      return {
        color: this.titleColor
      };
    },
    subTitleStyle() {
      return {
        color: this.subTitleColor
      };
    },
    contentStyle() {
      return {
        padding: this.padding,
        "text-align": this.textAlign
      };
    },
    containerClass() {
      return {
        "cursor-pointer": this.cursorPointer
      };
    }
  }
};
</script>

<style lang="less">
.saiken-product-card__container {
  height: 100%;
  .hoverable {
    .saiken-full-image__container {
      img {
        transition: all 0.8s linear;
      }
    }
  }
  &:hover {
    .hoverable {
      .saiken-full-image__container {
        img {
          width: 105%;
          height: 105%;
        }
      }
    }
  }
  .saiken-product-card__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 15px;
    &[class*="top"] {
      justify-content: flex-start;
    }
    &[class*="center"] {
      justify-content: center;
    }
    &[class*="bottom"] {
      justify-content: flex-end;
    }
    &[class*="left"] {
      align-items: flex-start;
    }
    &[class*="middle"] {
      align-items: center;
    }
    &[class*="right"] {
      align-items: flex-end;
    }

    .title {
      font-weight: bold;
      font-size: 1.3vw;
      margin-bottom: 5px;
    }

    .subtitle {
      font-size: 0.8vw;
    }

    .button__container {
      padding-top: 10px;
      .button {
        display: inline-block;
        background-color: #fff;
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 0.8vw;
      }
    }
  }
}
</style>
