<template>
  <div id="app">
    <nav-menu></nav-menu>
    <transition name="fade" mode="out-in" :duration="300">
      <router-view/>
    </transition>
    <nav-link></nav-link>
  </div>
</template>

<script>
import Nav from "@/components/Nav";
export default {
  name: "saiken-app",
  components: {
    ...Nav
  }
};
</script>


<style lang="less">
body {
  overflow-y: scroll;
}
#app {
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  // background-color: #f8f8f8;
}
.p-text {
  font-family: "Poppins", sans-serif !important;
}
.h-text {
  font-family: "Playfair Display", serif !important;
}
.cursor-pointer:hover {
  cursor: pointer;
}
*::-webkit-scrollbar-track {
  // border: 1px solid rgba(0, 0, 0, 0.15);
  border: 0;
}
*::-webkit-scrollbar-thumb {
  background-color: #b2b2b2;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 12px;
  // background-color: #eeeff0;
  background-color: transparent;
}
</style>
