<template>
  <div class="saiken-full-image__container">
    <img :src="url" :alt="alt" :class="imageMouseOverClass">
    <div class="saiken-full-image__overlay" v-if="overlay" :style="{'background-color': overlayColor, opacity: opacity}"></div>
  </div>
</template>

<script>
export default {
  name: "saiken-full-image",
  props: {
    url: {
      type: String
    },
    alt: {
      type: String,
      default: ""
    },
    overlay: {
      type: Boolean,
      default: false
    },
    overlayColor: {
      type: String,
      default: "#bbb"
    },
    opacity: {
      type: Number,
      default: 0.8
    },
    mouseOver: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    imageMouseOverClass() {
      return {
        "img-hover": this.mouseOver
      };
    }
  }
};
</script>

<style lang="less">
.saiken-full-image__container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width 0.5s linear, height 0.5s linear;
    &.img-hover {
      width: 110%;
      height: 110%;
    }
    &::-moz-selection {
      background: transparent;
    }
    &::selection {
      background: transparent;
    }
  }
  .saiken-full-image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
</style>
