<template>
  <div class="saiken-nav-link__container">
    <div class="links__container">
      <div class="links p-text">
        <router-link to="/contact"><span>Contact</span></router-link>
        <a href=""><span>Faqs</span></a>
        <a href=""><span>Privacy</span></a>
        <a href=""><span>Term & conditions</span></a>
      </div>
      <div class="copyright p-text">
        2018 Copyright Reserved
      </div>
    </div>
    <div class="social__container">
      <a href=""><span class="fab fa-facebook"></span></a>
      <a href=""><span class="fab fa-twitter"></span></a>
      <a href=""><span class="fab fa-google"></span></a>
      <a href=""><span class="fab fa-instagram"></span></a>
      <a href=""><span class="fab fa-youtube"></span></a>
    </div>
  </div>
</template>

<script>
export default {
  name: "saiken-nav-link"
}
</script>

<style lang="less" scoped>
.saiken-nav-link__container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #fff;
  .links__container {
    .links {
      text-transform: uppercase;
      font-size: 1em;
      text-align: left;
      font-weight: 500;
      span {
        padding: 5px;
      }
      a {
        margin: 0 5px;
        color: #000;
      }
    }
    .copyright {
      font-size: 1em;
      color: #888;
      text-align: left;
      padding-left: 10px;
      margin-top: 10px;
    }
  }
  .social__container {
    span {
      padding: 10px;
    }
    a {
      margin: 0 10px;
      color: #000;
    }
  }
}
</style>
