<template>
  <div class="saiken-nav-menu">
    <div class="menu-btn__container">
      <span class="fas fa-bars"></span>
    </div>
    <div class="page-title__container h-text">
      <router-link to="/" tag="h3">Vesmag</router-link>
    </div>
    <div class="actions__container">
      <span class="fas fa-user"></span>
      <span class="fas fa-search"></span>
      <span class="fas fa-shopping-cart"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: "saiken-nav-menu"
};
</script>

<style lang="less" scoped>
.saiken-nav-menu {
  height: 70px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  background-color: #fff;
  .menu-btn__container {
    padding: 0 30px;
  }
  .page-title__container {
    h3 {
      font-weight: 900;
      letter-spacing: 1px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .actions__container {
    padding: 0 30px;
    span {
      font-size: 0.9em;
      padding: 10px 10px;
      margin: 0 5px;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
</style>
