<template>
  <div class="saiken-base-slider__container">
    <transition-group name="list-slider" tag="div">
      <div class="list-items" :key="'prevBtn'" @click="prev()" :class="prevClass"><span class="fas fa-long-arrow-alt-left"></span></div> 
      <div class="slide-image__container" v-for="item in currentItemsShow" :key="item.name">
        <hover-card>
          <full-image :url="item.image" slot="main"></full-image>
          <div class="image-detail__container" slot="hover">
            <div class="image-detail__title h-text">
              {{item.name}}
            </div>
            <div class="image-detail__category p-text">
              {{item.category}}
            </div>
            <div class="image-detail__price p-text">
              <span class="price--old mr-1">{{item.old_price}}</span><span class="price--new">{{item.new_price}}</span>
            </div>
            <div class="image-detail__button-container">
              <span class="image-detail__button p-text">Quick view</span>
            </div>
          </div>
        </hover-card>
      </div>
      <div class="list-items" :key="'nextBtn'" @click="next()" :class="nextClass"><span class="fas fa-long-arrow-alt-right"></span></div>
    </transition-group>
  </div>
</template>

<script>
import Card from "@/components/Card";
import Image from "@/components/Image";
export default {
  name: "saiken-base-slider",
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  components: {
    ...Card,
    ...Image
  },
  data() {
    return {
      currentItemsShow: [],
      interval: 300,
      currentIndex: 2,
      prevClickEnterActive: false,
      prevClickEnter: false,
      nextClickEnterActive: false,
      nextClickEnter: false
    };
  },
  mounted() {
    this.currentItemsShow.push(this.items[0]);
    this.currentItemsShow.push(this.items[1]);
  },
  computed: {
    prevClass() {
      return {
        "click-enter-active": this.prevClickEnterActive,
        "click-enter": this.prevClickEnter
      };
    },
    nextClass() {
      return {
        "click-enter-active": this.nextClickEnterActive,
        "click-enter": this.nextClickEnter
      };
    }
  },
  methods: {
    runSlide() {
      setTimeout(() => {
        this.prev();
        this.runSlide();
      }, this.interval);
    },
    next() {
      this.nextClickEnter = true;
      setTimeout(() => {
        this.nextClickEnter = false;
      }, 310);
      this.currentIndex = this.items.indexOf(
        this.currentItemsShow[this.currentItemsShow.length - 1]
      );
      this.currentIndex =
        this.currentIndex === this.items.length - 1 ? 0 : this.currentIndex + 1;
      this.currentItemsShow.splice(0, 1);
      this.currentItemsShow.push(this.items[this.currentIndex]);
    },
    prev() {
      this.prevClickEnter = true;
      setTimeout(() => {
        this.prevClickEnter = false;
      }, 310);
      this.currentIndex = this.items.indexOf(this.currentItemsShow[0]);
      this.currentIndex =
        this.currentIndex === 0 ? this.items.length - 1 : this.currentIndex - 1;
      this.currentItemsShow.splice(this.currentItemsShow.length - 1, 1);
      this.currentItemsShow.splice(0, 0, this.items[this.currentIndex]);
    }
  }
};
</script>

<style lang="less" scoped>
@keyframes click-wave {
  0% {
    box-shadow: inset 0 0 0 50px rgba(255, 255, 255, 0.6),
      0 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: inset 0 0 0 0px rgba(255, 255, 255, 0.1),
      0 0px 0px rgba(0, 0, 0, 0.1);
  }
}
.saiken-base-slider__container {
  &:hover {
    .list-items {
      cursor: pointer;
    }
  }
  .image-detail__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    .image-detail__title {
      font-size: 1.5vw;
      margin-bottom: 5px;
      font-weight: bold;
    }
    .image-detail__category {
      font-size: 1vw;
      margin: 5px 0;
    }
    .image-detail__price {
      margin: 5px 0;
      .price--old {
        text-decoration: line-through;
      }
      .price--new {
        border-bottom: 1px solid #fff;
        padding: 0 2px;
      }
    }
    .image-detail__button-container {
      margin-top: 10px;
      .image-detail__button {
        display: inline-block;
        padding: 6px 12px;
        background-color: #b9933f;
        font-size: 1vw;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .list-items {
    display: inline-block;
    color: #fff;
    width: 80px;
    height: 80px;
    padding: 25px 0;
    box-shadow: inset 0 0 0 0px rgba(255, 255, 255, 0.1),
      0 0px 0px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    border-radius: 50%;
    &.click-enter {
      animation: click-wave 0.3s;
      animation-iteration-count: 1;
    }
  }
  .slide-image__container {
    width: 25%;
    height: 100%;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);
    vertical-align: middle;
  }
  .list-slider-move {
    transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);
  }
  .list-slider-enter,
  .list-slider-leave-to {
    opacity: 0;
    transform: translateY(-30px);
  }
  .list-slider-leave-active {
    display: none;
  }
}
</style>
